<?xml version='1.0' encoding='utf-8'?>
<widget id="com.psihologiya.kwiz" version="1.0.0" xmlns="http://w3.org" xmlns:cdv="http://apache.org">
    <name>Psihologiya Kwiz</name>
    <description>Psihologiya degisli 30 sany test oyny</description>
    <author email="info@mysite.com">Programmer</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Ikonka suradyny su yerde kesgitleyaris -->
    <icon src="icon.png" />
    
    <preference name="KeepRunning" value="true" />
</widget>
